.hidden{
    display: none;
}


/* main */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin:0;
    padding:0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    border: none;
    cursor: pointer;
}

/* common */

.container { 
max-width: 320px;
padding-left:  16px;
padding-right:  16px;
margin: 0 auto;
} 

@media screen and (min-width: 768px){
    .container { 
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px){
    .container { 
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* logo */

.web-name {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-name {
    color: #2E2F42;
}

@media screen and (min-width:768px){
    .studio-name{ 
        margin-right: 141px;
    }
}

/* header */

.header-all{
    height: 56px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #E7E9FC;
}

 @media screen and (min-width: 768px){
    .mobile-menu{ 
        display: none;
    }
}

.header-box {
    display:flex;
    /* flex-direction:row; */
    align-items: center;
    justify-content: space-between;
}

/* mobile-menu-button */

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding:0;
}

@media screen and (min-width:768px){
    .menu-btn{
        display: none;
    }
}

.menu-icon{
    display: block;
    fill: #2f2f37;
}

.menu-address,
.menu-nav{
    display: none;
}

@media screen and (min-width:768px){

    .header-box{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* {
        display: block;
    } */

    .menu-address,
    .menu-nav{
        display: flex;
    }
    
    .menu-nav-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }


    .menu-nav-list-item{
        font-weight: 500;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: #404BBF;
    }

    .menu-add-list-item{
        font-weight: 400;
        font-size: 12px;
        line-height: 1,17;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .menu-add-list{
        display:flex;
        flex-direction: column;
        gap: 12px;
    }


}