.hidden{
    display: none;
}


/* main */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin:0;
    padding:0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

button{
    border: none;
    cursor: pointer;
}

img{
    display: block;
}

/* common */

.container { 
max-width: 320px;
padding-left:  16px;
padding-right:  16px;
margin: 0 auto;
} 

@media screen and (min-width: 768px){
    .container { 
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px){
    .container { 
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* mobile-menu */

.mobile-menu {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: #FFFFFF;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
        position: relative;
        padding-top: 72px;
        padding-bottom: 40px;

        display: flex;
        flex-direction: column;
        height: 100%;

}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    background-color:transparent;
    stroke: #2E2F42;
    cursor: pointer;
    background-color: #E7E9FC;
}



.mobile-menu-nav {
        margin-bottom: auto;

}

.mobile-menu-add-list,
.mobile-menu-nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mobile-menu-nav-list{
    gap: 40px;
}

.mobile-menu-add-list{
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-nav-list-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-add-list-item:hover,
.mobile-menu-add-list-item:focus,
.mobile-menu-nav-list-item:hover,
.mobile-menu-nav-list-item:focus {
    color: #2E2F42;
}

.mobile-menu-add-list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
}

.social {
    display: flex;
    gap: 40px;
    margin:0;
    padding:0;
}

.social-item{
    width: 40px;
    height:40px;
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #FFFFFF;
}

.social-item:hover,
.social-item:focus{
    background-color: #31D0AA;
}

@screen and (min-width:768){
    .mobile-menu{
        display: none
    }
}

/* logo */

.web-name-header,
.web-name-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

@media screen and (min-width:768px){
    .web-name-header{
        margin-right: 120px;
    }
}

@media screen and (min-width:1158px){
    .web-name-header{
        margin-right: 76px;
    }
}
/* .web-name{
    padding: 16px 0;
} */

.studio-name {
    color: #2E2F42;
}

@media screen and (min-width:768px){
    .web-name{ 
        margin-right: 0;
        padding: 24px 0;
    }
}

@media screen and (min-width: 1158px){
    .web-name{
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 76px;
    }
}

/* header */

.header-all{
    /* padding-top: 16px;
    height: 56px; */
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #E7E9FC;
}

 @media screen and (min-width: 768px){
    .mobile-menu{ 
        display: none;
    }

    /* .header-all{
        display: flex;
        align-items: center;
        height: 72px;
    } */
}

.header-box {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/* mobile-menu-button */

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding:0;
}

@media screen and (min-width:768px){
    .menu-btn{
        display: none;
    }
}

.menu-icon{
    display: block;
    fill: #2f2f37;
}

.menu-address
{
    display: none;
}

.menu-nav{
    padding: 16px 0;
}

.menu-nav-list{
    display: none;
}

@media screen and (min-width:768px){

    .header-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: space-between; */
    }

    .menu-nav,
    .menu-address{
        display: flex;
        padding: 0;
        align-items:center;
    }
    
    .menu-nav-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }


    .menu-nav-list-item{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        padding: 24px 0;
    }

    .menu-add-list-item{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
    }

    .menu-nav-list-item:hover,
    .menu-add-list-item:hover{
        color: #404BBF
    }

    .menu-add-list{
        display:flex;
        flex-direction: column;
        gap: 12px;
    }

}

@media screen and (min-width: 1158px){
        .menu-add-list{
            display:flex;
            flex-direction: row;
            gap: 40px;   
        }


        .menu-add-list-item{
            font-weight: 400;
            font-size: 16px; 
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
}

@media screen and (min-width:768px){

.menu-nav-list-item.current{
    position: relative;
    color: #404BBF;
}

.menu-nav-list-item.current::after {
    content:"";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404BBF;
}

}
/* hero-banner */

.hero-banner {
    background-image: 
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/background/BG-mob-min.jpg"); 
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    padding: 72px 0;
    max-width:320px;
}

@media (min-resolution: 2x){
    .hero-banner {
        background-image: 
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/background/BG-mob@2x-min.jpg"); 
        /* max-width:320px; */
        background-size:cover;
        background-repeat:no-repeat;
        background-position: center;
        padding: 72px 0;
        
        }
}

@media screen and (min-width:768px){
    .hero-banner {
        background-image: 
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/background/BG-tab-min.jpg"); 
        background-size:cover;
        background-repeat:no-repeat;
        background-position: center;
        padding:112px 0;
        /* max-width:768px;     */
    }
}

@media screen and (min-width:768px) and (min-resolution:2x){
    .hero-banner {
        background-image: 
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/background/BG-tab@2x-min.jpg"); 
        background-size:cover;
        background-repeat:no-repeat;
        background-position: center;
        padding:112px 0;
        /* max-width:768px; */
        }
}

@media screen and (min-width:1158px){
    .hero-banner {
        background-image: 
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/background/BG-desc-min.jpg"); 
        background-size:cover;
        background-repeat:no-repeat;
        background-position: center;
        padding: 188px 0;
        /* max-width: 1440px;     */
    }
}

@media screen and (min-width:1158px) and (min-resolution:2x){
    .hero-banner {
        background-image: 
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/background/BG-desc@2x-min.jpg"); 
        background-size:cover;
        background-repeat:no-repeat;
        background-position: center;
        padding: 188px 0;
        /* max-width: 1440px; */
        }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 160px;
    display: block;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media screen and (min-width:768px){
    .hero-title{
    margin-bottom: 36px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    }
}

@media screen and (min-width:1158px){
    .hero-title{
    margin-bottom: 48px;     
    }
}

.hero-button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-button:hover,
.hero-banner:focus {
   background-color: #404BBF; 
}

/* benefits */

.benefits-image{
    display: none;
}

@media screen and (min-width:1158px){
    .benefits-image{
        border: 1px solid #8E8F99;
        border-radius: 4px;
        height: 112px;
        background: #F4F4FD;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
}

.benefits{
    padding-top: 96px;
    padding-bottom:96px;
}

@media screen and (min-width:1158px){
    .benefits{
        padding-top: 120px;
        padding-bottom:120px;
    }
}

.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px){
    .benefits-list{
        display: flex;
        gap: 72px 24px;
        flex-wrap:wrap;
        flex-direction: row;
        }

    .benefits-list-item{
        height: 120px;
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:1158px){
    .benefits-list-item{
        width: calc((100% - 72px) / 4);
        height:100%;
    }

}

.benefits-list-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}


@media screen and (min-width: 768px){
    .benefits-list-title{
        text-align: left;
        
    }
}

@media screen and (min-width:1158px){
    .benefits-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
       
    }

}

.benefits-list-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:1158px){
    .benefits-list-text{
        font-weight: 400;
        
    }
}

/* Team */

.team{
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:768px){
    .team{
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
    }
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    /* width: 264px; */
    align-items: center;
}
@media screen and (min-width:768px){
    .team-list{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
        width: 100%;        
        justify-content: center;
        
    }
}

@media screen and (min-width: 1158px){
    .team-list{
        flex-wrap:nowrap;
        width: 100%;
    }
}


.team-box{
    padding: 32px 16px;
}

.team-list-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    text-align: center;
    max-width: 264px;
}

@media screen and (min-width:768px){
        .team-list-item{
            width: 264px;
        }
}

.team-list-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom:8px;  
}

.team-list-job-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}

.team-social {
    display: flex;
    gap: 24px;
    justify-content: center; 
}

.team-img{
    width:100%;
    height:auto;
}

/* Portfolio */

.portfolio{
    background-color: #FFFFFF;
    padding: 96px 0;
}

@media screen and (min-width: 1158px){
    .portfolio{
        padding: 120px 0;
    }
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media screen and (min-width: 768px){
    .portfolio-list{
        flex-direction: row;
        gap: 72px 24px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px){
    .portfolio-list{
        gap: 48px 24px;
        width: 100%;
    }
}

.portfolio-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);    
}

@media screen and (min-width:768px){
    .portfolio-item{
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:1158px){
    .portfolio-item{
        box-shadow:none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover,
    .portfolio-item:focus{
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);  
    }

}

.portfolio-item-box{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio-img-div{
    position: relative;
    overflow: hidden;
}

@media screen and (min-width:768px){
.portfolio-picture{
    width: 346px;
}
}

.hidden-paragraf{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .hidden-paragraf{
    transform: translateY(0);
}  

.portfolio-img{
}


.portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-type{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */

.footer-all{
    background: #2E2F42;
    padding: 100px 0;
}

@media screen and (min-width: 1158px){
    .footer-all{
        padding: 100px 0;
    }
}

.web{
    /* margin-bottom: 72px; */
}

@media screen and (min-width:768px){
    .web{
        max-width: 264px;
        max-height: 112px;
    }
}

@media screen and (min-width:1158px){
    .web{
        /* margin-left: 40px; */
    }

}



.footer-studio{
    color: #F4F4FD; 
}

.footer-text{
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.social-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}

@media screen and (min-width:768px){
    .social-media{
        text-align:left;
    }
}

.form-submit{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 22px;
    display: block;
}

@media screen and (min-width:768px){
    .form-submit{
        text-align: left;
    }
}

.footer-email-input{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    background: transparent;
    padding: 8px 16px;
    margin-bottom: 16px;
}

.footer-email-input:placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    opacity: 0.6;
    color: #ffffff;
}

@media screen and (min-width:768px){
    .footer-email-input{
        width: 264px;
        margin: 0;
    } 
}

.footer-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    /* text-align: center; */
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    margin: 0 auto;

    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;

    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover{
    background-color: #404BBF;
}

.web-name-footer {
    text-align: center;
    margin-bottom: 16px;
    display: block; 
}

@media screen and (min-width:768px){
    .web-name-footer{
        text-align: left;
           
    }
}

.footer-type{
        display: flex;
        flex-direction: column;
        gap: 72px;
        flex-wrap: nowrap;
}

@media screen and (min-width:768px){
    .footer-type{   
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
        padding: 0 108px;
    }
}

@media screen and (min-width:1158px)
{
    .footer-type{
        flex-wrap: nowrap;
        gap: 80px;
    }
}

@media screen and (min-width:768px){
    .footer-form{
        display: flex;
        gap: 24px;
        justify-items:end;
    }
}

.footer-social-list {
    display: flex;
    gap: 24px;
    justify-content: center; 
}

/* Modal */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms  cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
        opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position:absolute;
    top:50%;
    left:50%;

    width: 288px;
    min-height: 623px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #FCFCFC;
    border-radius: 4px;

    transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;    
}

@media screen and (min-width:768px){
    .modal{
        width: 408px;
        height: 584px;
        padding-left: 24px;
        padding-right: 24px;

    }
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);     
}

.modal-button-close{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #CCCCCC;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-close:hover,
.modal-button-close:focus{
    border:none;
    background-color: #404BBF;
}

.modal-button-close:hover > svg,
.modal-button-close:focus > svg {
    fill: #FFFFFF;
}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;

}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 40px;
    outline: transparent;
}

.modal-input:focus {
    border: 1px solid #4D5AE5;    
}

.modal-input:focus + svg{
    fill: #4D5AE5;
}

.svg-color{
    fill: #2E2F42;
}

.modal-input-container{
    position: relative;
}

.svg-position{
    position: absolute;
    top: 8px;
    left: 16px;
}

.modal-block{
    margin-bottom: 8px;
}

.modal-comment{
    width: 100%;
    height: 120px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    outline: transparent;
    margin-bottom: 16px;
    resize: none;
}

.modal-comment:focus {
    border: 1px solid #4D5AE5;    
}

.modal-comment::placeholder{
    color: #8E8F99;
    opacity: 0.5;
}

.modal-checkbox {
    display: none;
}

.modal-checkbox:checked+.modal-label .modal-span{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-span{
    border-radius: 2px;
    border: 1px solid #2E2F42;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.modal-link{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.display-type{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}

.modal-button{
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    display: block;
}